**/pdgtemp/**
**/datasets/**
**/backup/**
**/stylegan2/**
*Thumbs.db
*.exr
*.mantra_checkpoint
*00_BATCH_JPG_SIZE.bat
*00_BATCH_PNG_TO_JPG.bat
*00_png_delete.bat
*00_gen_ability_icon_readme.bat
*00_gen_ability_icon_readme.py
*00_python_rename_all_01.py
*00_BATCH_IMAGESIZE_CONSTANT_ALL_JPG.bat
*00_readme_to_html*
**/taming-transformers/**
**/stylegan2-ada-pytorch/**
**/checkpoints/**
**/CLIP/**
**/venv/**
**/taming/**
**/output/**
**/houdini/geo/**
**/houdini/render/**
**/huggingface/**
*00_NOTES.txt
*00_setup.sh